<!DOCTYPE html>
<html>
<head>
  <title>Cipher Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class = "nav">
    <ul>
      <% if current_user.present? %>
      <li>
        <%= link_to 'Log out', log_out_path %>
      </li>
        <% else %>
        <li>
          <%= link_to 'Log in', log_in_path %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_path %>
        </li>
        <% end%>
      </ul>
    </div>
    </div>
</div>

    <%if flash.present? %>
    <div class="flash-section">
        <% flash.each do |msg| %>
            <div class="<%=msg[0]%>">
              <%=msg[1]%>
            </div>
        <%end%>
    </div>
    <%end%>

<div class="content-section">
<%= yield %>
</div>

</body>
</html>